body{
    background: rgb(173,181,189);
    background: -moz-linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
    background: -webkit-linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
    background: linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#adb5bd",endColorstr="#413e3e",GradientType=1); 

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f1f1f1;
    text-align: center;
}
h3{
    margin-bottom: 5em;
}
a{
    border-radius: 10%;
    padding: 2em;
    border: 2px solid black;
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px blueviolet;
}

a:hover{
    background-color: blueviolet;
    color: #f1f1f1;
    box-shadow: 5px 5px 5px gray;

}