@import url("bootstrap/dist/css/bootstrap.css");

body{
  background-image: url("/formula-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


h1, p{
  background: rgb(173,181,189);
  background: -moz-linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
  background: -webkit-linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
  background: linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#adb5bd",endColorstr="#413e3e",GradientType=1); 
  color: #f1f1f1;
}

.head{
  color: white;
  background-color: black;
}

.container-fluid, .sec2{
  background-color: #f1f1f1cb;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 3em;
  box-shadow: 5px 10px 43px 16px white;
  
}

.img-fluid{
  width: 30em;
  border-radius: 5px;

}

.answer{
  padding: 10px;
  margin-bottom: 10px;
}

.answer button{
  padding: 1em;
  border-radius: 2em;
  background: -moz-linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
  background: -webkit-linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
  background: linear-gradient(120deg, rgba(173,181,189,1) 10%, rgba(65,62,62,1) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#adb5bd",endColorstr="#413e3e",GradientType=1); 
  color: white;
}

.answer button:hover{
  color: white;
  
  background: blue;
}

.section2{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sec2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.section2{
  display: none;
}

p{
  font-size: 3.5em;
}